@page "/quizcard"
@inherits QuizCardBase
@using Quizzing.Components

<div class="container">
    <div class="quiz">
        @if (questionIndex < Questions.Count())
        {
            <div class="app-title">
                Quizzing!
            </div>
            <div class="quiz-header">
                @Questions[questionIndex].QuestionTitle
            </div>
            <div class="quiz-body">
                @foreach (var option in Questions[questionIndex].Options)
                {
                    <OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard>
                }
            </div>
        }
        else
        {
            <div class="app-title">
                @if (score > (Questions.Count / 2))
                {
                    <img src="https://i0.wp.com/kcstudio.org/wp-content/uploads/2013/07/despicable-me-2-img.jpg?w=775&ssl=1" width="90%" height="90%" />
                }
                else
                {
                    <img src="https://pngimg.com/uploads/minions/minions_PNG34.png" width="60%" height="60%" style="margin-left: 55px "/>
                }
            </div>
            <div class="app-title">
                @(score > (Questions.Count() / 2) ? "Congratulation" : "Better Luck Next Time")
            </div>
            <div class="quiz-header">
                <b>You scored @score points!</b>
            </div>
            <div class="quiz-footer">
                <button class="next-btn" @onclick="@RestartQuiz">Play Again</button>
            </div>
        }
    </div>
</div>

@if(questionIndex == Questions.Count()){
    <div class="solution-div">
        <div class="solution-container">
            <h1 class="solution-title">
                Solutions
            </h1>
            @for (int i = 0; i < Questions.Count(); i++)
            {
                <h3 class="solution-questions">
                    @(i + 1).Question: @Questions[i].QuestionTitle
                </h3>
                foreach (var answer in Questions[i].Options)
                {
                    if (@answer == @Questions[i].Answer)
                    {
                        <p class="right-answer">     
                            @answer
                        </p>
                    }
                    else
                    {
                        <p class="other-answers">
                            @answer
                        </p>
                    }
                }
            }
        </div>
    </div>
    
}